@import url("./variable.css");


body{
    width: 100%;
    font-family: var(--primary-font);
    font-size: 16px;
    background-color: var(--bg-color);
}

button{
    cursor: pointer;
}

a{
    color: var(--second-color);
    text-decoration: none;
}



.button{
    display: block;
    text-align: center;
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--call-to-action);
    border: none;
}
