.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    padding: 1rem;
    margin: 24px;
    
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.card__header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.card__header__wrapper{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.card__text-call-to-action{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--call-to-action);
}

.card__title{
    font-size: 1.125rem;
    line-height: 1.688rem;
    font-weight: 700;
    
    color: var(--second-color);
}

.card__description{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__footer__list{
    display: flex;
    align-items: center;
    gap: 4px;
}

.card__footer__item{
    display: block;
    padding: 8px;
    cursor: pointer;
}

.card__footer .button{
    width: 100%;
    max-width: 161px;

    font-size: 1rem;
    line-height: 1.5rem;
    padding: 12px 16px;
}


.card__star{
    width: 91px;
}

.card__header__img{
    display: block;
    width: 100%;
    max-width: 161px;
}


@media (min-width: 1024px){
    .card{
        width: 45%;
        margin: 0 auto;
    }
}

@media  (min-width: 600px) and (max-width: 1023px){
    .card{
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 370px){
    .card__header{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .card__star{
        margin: 1rem auto 0 auto;
    }

    .card__footer .button{
        padding: 8px;
    }
}